body {
  background-color: #F5F5F5;
  font-family: 'Roboto Slab';
  
}

.Home{
  text-align: center;
}

.top-bar-phone{
  color: white;
  background-color: #9D6262;
  font-size: x-large;
  text-align: center;
  /* max-height: 200000px; height doesnt affect anything*/
}

.title {
  font-size: 35px;
  color: #006D77;
}

.description {
  font-size: 24px;
  color: #83C5BE;
}

.profile_pic {
  max-width: 250px;
}
.opening_hours_header{
  color: #006D77;
  font-family: Questrial;
}


.router {
  padding-left: 100px;
}

