body {
  background-color: #F8EDEB;
  font-family: monospace;
  color: #FFB5A7;
}

.App {
  text-align: center;
}

.title {
  font-size: 35px;
}

.description {
  font-size: 24px;
}

.profile_pic {
  max-width: 250px;
}

